<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
        
    </style>
</head>
<body style="background-image: url(/images/i1.jpg);  ">
    <nav class="navbar navbar-inverse container-fluid"  role="navigation" style=" height:52px ">
        <div class="navbar-header ">
            <a class=" navbar-brand" href="/Home/Index" style="color: #a9edf9; font-style: italic; text-decoration: dashed">
                <span style="color: #a9edf9" class="glyphicon glyphicon-education glyphicon-align-left" aria-hidden="true"></span>StudentHub
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/Home/Index" style="color: #a9edf9; font-style: italic; text-decoration: dashed; ">
                    Home
                </a>
            </li>
            <li>
                <a href="/Home/SignIn" style="color: #a9edf9; font-style: italic; text-decoration: dashed; ">
                    SignIn
                </a>
            </li>
            <li>
                <a href="/Home/SignUp" style="color: #a9edf9; font-style: italic; text-decoration: dashed; ">
                    SignUp
                </a>
            </li>
            <li>
                <a href="/Home/AboutUs" style="color: #a9edf9; font-style: italic; text-decoration: dashed; ">
                    AboutUs
                </a>
            </li>
            <li>
                <a href="/Home/ContactUs" style="color: #a9edf9; font-style: italic; text-decoration: dashed">
                    ContactUs
                </a>
            </li>

        </ul>


    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("Detail", required: false)
    @RenderSection("AboutUs", required: false)
    @RenderSection("ContactUs", required: false)








     @RenderSection("SignUp", required: false)
   
   
     @RenderSection("SignIn", required: false)
   
   
   
    
    
    
</body>
</html>
